<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.CSharp.CodeStyle" version="3.8.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.1" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" targetFramework="net40" developmentDependency="true" />
</packages>